In [ ]:
# импортируем библиотеки
import pandas as pd
import sqlalchemy as sa

In [ ]:
# устанавливаем параметры
db_config = {
'user': 'praktikum_student', # имя пользователя
'pwd': 'Sdf4$2;d-d30pp', # пароль
'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
'port': 6432, # порт подключения
'db': 'data-analyst-final-project-db' # название базы данных
}
connection_string = 'postgresql://{user}:{pwd}@{host}:{port}/{db}'.format(**db_config)
# сохраняем коннектор
engine = sa.create_engine(connection_string, connect_args={'sslmode':'require'})
# чтобы выполнить SQL-запрос, пишем функцию с использованием Pandas
def get_sql_data(query:str, engine:sa.engine.base.Engine=engine) -> pd.DataFrame:
  '''Открываем соединение, получаем данные из sql, закрываем соединение'''
  with engine.connect() as con:
    return pd.read_sql(sql=sa.text(query), con = con)

In [ ]:
# Количество книг, выпущенных после 01.01.2001
query = '''
SELECT count(book_id) as count_books
FROM books
WHERE  publication_date > '2000-01-01'
'''

In [ ]:
get_sql_data(query)

   count_books
0          819

In [312]:
# Название, количество обзоров и средняя оценка книг
query = '''
SELECT a.title, count_reviews, avg_rating
FROM (
      SELECT title, count(review_id) as count_reviews
      FROM books b JOIN reviews rv
      ON b.book_id = rv.book_id
      GROUP BY title) a
JOIN (
      SELECT title, avg(rating) as avg_rating
      FROM books b JOIN ratings rg
      ON b.book_id=rg.book_id
      GROUP BY title) b
ON a.title=b.title
ORDER BY count_reviews DESC, avg_rating DESC
'''

In [313]:
get_sql_data(query)

,title,count_reviews,avg_rating
0,Memoirs of a Geisha,8,4.107143
1,Twilight (Twilight #1),7,3.662500
2,Harry Potter and the Prisoner of Azkaban (Harr...,6,4.414634
3,Harry Potter and the Chamber of Secrets (Harry...,6,4.287500
4,The Book Thief,6,4.264151
...,...,...,...
988,Moo Baa La La La!,1,3.000000
989,Death: The High Cost of Living,1,3.000000
990,History of Beauty,1,2.500000
991,Tsubasa: RESERVoir CHRoNiCLE Vol. 1,1,2.500000
992,1 000 Places to See Before You Die,1,2.500000

In [306]:
# Издательство, выпустившее больше всего книнг толще 50 страниц
query = '''
SELECT publisher, count(book_id) as count_books
FROM publishers p JOIN books b
ON p.publisher_id = b.publisher_id
WHERE num_pages > 50
GROUP BY publisher
ORDER BY count_books DESC
LIMIT 1
'''

In [307]:
get_sql_data(query)

       publisher  count_books
0  Penguin Books           42

In [316]:
# Автор с самым высоким средним рейтингом, имеющий 50 и более оценок
query = '''
SELECT author, round(avg(rating), 2) as avg_rating, count(rating_id) as count_scores
FROM authors a JOIN books b
ON a.author_id = b.author_id
JOIN ratings r
ON b.book_id = r.book_id
GROUP BY author
HAVING count(rating_id) >= 50
ORDER BY avg_rating DESC
LIMIT 1
'''

In [317]:
get_sql_data(query)

           author  avg_rating  count_scores
0  Diana Gabaldon         4.3            50

In [310]:
# Среднее количество обзоров от пользователей, которые поставили более 48 оценок
query = '''
SELECT avg(count_reviews_by_user) as avg_reviews
FROM (
      SELECT count(DISTINCT review_id) as count_reviews_by_user
      FROM reviews rv JOIN ratings rg
      ON rv.username = rg.username
      GROUP BY rg.username
      HAVING count(DISTINCT rating_id) > 48
      ) a
'''

In [311]:
get_sql_data(query)

   avg_reviews
0         24.0